<title>eZange : Contact</title>
  <div class="page-header">
   <h1>Contact</h1>
  </div>
   
  <div class="row">
    <div class="span7 offset1"></div>
  </div><br/>

    <div class="row">
      <div class="span4" id="map_canvas" style="width:600px;">
        <div class="alert alert-block">
          <div class="control-group">
            <label class="control-label" for="textarea">Say 'Hello' or something nice
              to the hardworking people at eZange. We will happily answer any questions
              you may have.<br/><br/></label>


<%= render 'form' %>

<% link_to 'Back', contacts_path %>


            </div>
          </div>
        </div>
      </div>


