<h3> Thank you! We will reach you back soon ! </h3>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Content:</b><br/>
  <%= @contact.content %>
</p>


